/target
**/*.rs.bk
Cargo.lock

# These directories are covered by Cargo's default .gitignore file, and they
# include build artifacts and other files you typically don't want in version
# control.
/debug
/dist

# IDE - VsCode
.vscode/*

# IDE - IntelliJ
.idea/*

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore files related to npm
node_modules
npm-debug.log

# Ignore files related to Yarn
.yarn
.yarnrc.yml
.pnp.*